/*
generic button
Doesn't work for darker buttons(rgb less than 50)
designed for button with innerhtml with 4-10char.
Any button class that ends with -button will "inherit" this class
*/

.collapsibleContainer {
    position: relative;
    height: 56.8px;
}

button[class$="-button"] {
    display: inline-block;
    background-color: rgb(
        var(--r), var(--g), var(--b)
    );
    border: none;
  user-select: none;
}

.collapsibleContainer:hover > button[class$="-button"] {
    background-color: rgb(
        calc(var(--r) - 25),
        calc(var(--g) - 25),
        calc(var(--b) - 25)
    );
}

button[class$="-button"]:active {
    background-color: rgb(
        calc(var(--r) - 50),
        calc(var(--g) - 50),
        calc(var(--b) - 50)
    );
}

.projButtonBg {
    width: 100%;
    height: 56.8px;
    position: relative;
    top: -56.8px;
    z-index: -1;
}

div[class$="-buttonBg"] {
    background-color: rgb(
        calc(var(--r)),
        calc(var(--g)),
        calc(var(--b))
    );
}

.collapsibleContainer:hover > div[class$="-buttonBg"] {
    background-color: rgb(
        calc(var(--r) - 25),
        calc(var(--g) - 25),
        calc(var(--b) - 25)
    );
}

/* change for background of active */
.projButtonActive + .projButtonBg {
    --r: 255;
    --g: 255;
    --b: 255;
}

.projButtonActive.projButtonActive {
    background-color: white;
    animation-play-state: paused;
    color: #0D1B2A;
}

.projButtonActive.projButtonActive:hover {
    background-color: white;
}

.collapsibleContainer:hover > .projButtonActive {
    margin-left: 1em;
}

.metadc-buttonBg {
    --r: 226;
    --g: 234;
    --b: 252;
    /* --r: 50;
    --g: 50;
    --b: 50; */
}

.metadc-button {
    --r: 226;
    --g: 234;
    --b: 252;
    font-size: 17px;
    color: rgb(17, 23, 40);
}

.Rokoske-buttonBg {
    --r: 204;
    --g: 219;
    --b: 253;
}

.Rokoske-button {
    --r: 204;
    --g: 219;
    --b: 253;
    font-size: 17px;
    color: rgb(17, 23, 40);
}

.stimmy-buttonBg {
    --r: 193;
    --g: 211;
    --b: 254;
}

.stimmy-button {
    --r: 193;
    --g: 211;
    --b: 254;
    font-size: 17px;
    color: rgb(17, 23, 40);
}

.econ-buttonBg {
    --r: 65;
    --g: 90;
    --b: 119;
}

.econ-button {
    --r: 65;
    --g: 90;
    --b: 119;
    font-size: 17px;
    color: white;
}

.pygame-buttonBg {
    --r: 171;
    --g: 196;
    --b: 255;
}

.pygame-button {
    --r: 171;
    --g: 196;
    --b: 255;
    font-size: 17px;
    color: rgb(17, 23, 40);
}

@media only screen and (max-width: 768px) {
    .button {
      display: none;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 2px;
      height: 100%;
  
    }
  }

.PDF-button {
    --r: 65;
    --g: 90;
    --b: 119;
    --a: 0.8;
    font-size: 17px;
    color: white;
    padding: 1%;
    border-radius: 10%;
}