.home_container{
    margin-left: 10%;
    margin-right: 10%;
}
@media all and (max-width: 700px) {
    .home_container {
      margin:auto;
    }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo img{
  width: 25px;
  opacity: 30%;
}
.logo img:hover{
  width: 25px;
  opacity: 60%;
}
.logo a{
  padding-left:3px;
  padding-right:3px;
}
.title p{
  font-size: 1.35rem;
  text-align:center;
  display: flex;

}

.title h1{
  font-weight: bold;
  font-size: 30px;
  line-height: 40px;
  background-image: none;
  display: block;
  text-align: center;
  padding: 1.5%;
  animation: fadein 2s;
  
}

.title h2{
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  background-image: none;
  display: inline;
  text-align: left;
  padding-top: 3%;
  padding-bottom:1%;
  animation: fadein 2s;

}
