.flip-container{
    display: flex;
    margin: 10em;

  }
  
.flip-card {
  background-color: transparent;
  width: 200px;
  height: 200px;
  perspective: 1000px;
  margin: auto;
  animation: spin 2.5s;
}


.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;

  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  padding-top: 40%;
  animation: fadein 4s;
}
.flip-card-front h1{
  font-weight: 200;
  color: white;
  line-height: normal;
}

.flip-card-back {
  padding-top:42%;
  padding-bottom:2%;
  font-weight: 200;
  line-height: normal;
  color: white;
  transform: rotateY(180deg);
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card-back a{
  padding-top :20%;
  color: white;
  line-height: normal;
}

