/* Fix to top, in front */
.tab {
	position: sticky;
	top: 0;
	width: 100vw;
  overflow: hidden;
  background-color: #E0E1DD;
	z-index: 1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  color: #0D1B2A;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
} 

/* Change background color of buttons on hover, balls in your jaw */
.tab button:hover {
  background-color: #778DA9;
}

/* Create an active/current tablink class, Deeznuts */
.tab button.active {
  background-color: #556579;
}