/* Fix to top, in front */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");

.tab {
	position: sticky;
	top: 0;
	width: 100%;
  overflow: hidden;
  background-color: white;
  opacity: 0.9;
	z-index: 1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  font-family: "Montserrat";
  font-size: 15px;
  color: #0D1B2A;
  outline: none;
  cursor: pointer;
  padding: 16px 18px;
  transition: 0.3s;
} 

.tab button:hover {
  background-color: #778DA9;
}

.tab button.active {
  background-color: #556579;
}