/* Fix to top, in front */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");

.tab {
	position: sticky;
	top: 0;
	width: 100%;
  overflow: hidden;
  background-color: white;
  opacity: 0.9;
	z-index: 1;
  display:inline-block
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  font-family: "Montserrat";
  font-size: 16px;
  color: #0D1B2A;
  outline: none;
  cursor: pointer;
  padding: 22px 20px;
  transition: 0.3s;
} 

.tab button:hover {
  background-color: #97d3ed;
}

.tab button.active {
  background-color: #556579;
}
/* 
.tab .icon{
  display:none;
} */

@media all and (max-width: 600px) {


}
