@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");
/* Projects formatting */
#projects {
    display: grid;
    grid: auto / 20em auto;
  }
  
  #projects-buttons {
    position: sticky;
    display: inline-block;
  }
  
  #projects-content {
    grid-column-start: auto;
    grid-column-end: span 1;
    padding: 1em;
    
  }
.frame{
  padding: 10px;
  background-color: #0D1B2A;
  color: white;
  border-radius: 10px;
  display: flex;
  margin-bottom: 20px;
}
.project-mini {
  display:none;
}

@media all and (max-width: 900px){
  #projects {
    display:inline-block;
    margin: auto;
  }

  .frame{
    display: none;
  }

  .project-mini {
    position: sticky;
    top: 50;
    width: 100%;
    margin: auto;
    overflow: hidden;
    background-color: white;
    opacity: 0.9;
    display: inline-block;
    font-family: "Montserrat";
    font-size: 15px;
    outline: none;
    cursor: pointer;

  }
  
  #projects-buttons {
    position: sticky;
    opacity: .95;
    top: 70;
    display:none;
    width: 100%;
  }

}